.link {
	background-color: #05253F;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	align-self: flex-start;
	padding: 15px 25px;
	border-radius: 100px;
	transition: background-color 0.3s ease 0s;

	&:hover,
	&:focus {
		background-color: #10B3E1;
	}
}